html,body{
	font-size:14px;
	color:#939699;
	background-color:#fff;
	font-family: "lato", Helvetica, Arial, sans-serif;
	background-color: #f7f7f7;
}

@font-face
{
font-family: "fontawesome-webfont";
src: url('../fonts/fontawesome-webfont.ttf');
}

img{
	width:100%;
	height: auto;
}

h1{
	color: #ed6f58;
	text-transform: uppercase;
	font-size: 17px;
	font-weight: bold;
	border-bottom: 1px solid #ed6f58;
}

h2{
	font-size:20px;
	margin:0;
}

h3{
	font-size: 15px;
}

label{
	color:#444153;
	text-transform: uppercase;
	font-size: 12px !important;
	padding: 9px 0 0 10px;
}

label span{
	padding: 0 0 0 15px;
}

label em{
	font-size: 22px;
	line-height: 0;
}

.kale{
	border:1px solid #c7c7c7;
}


.clear{
	padding: 10px;
}

.clear-small{
	padding: 5px;
}	

.clear-big{
	padding: 20px;
}

.rounded{
	border: 1px solid #c7c7c7;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
}

.justify{
	text-align: justify !important;
}

.center{
	text-align: center !important;
}

.right{
	text-align: right;
}

.left{
	text-align: left;
}

.test-div{
	background-color: #f5f5f5;
	border: 2px solid #c7c7c7;
	border-radius: 10px;
	min-height: 50px;
	color: #444135;
	padding:20px;
}




/* Starts:Star Rating*/

.ratings_stars {
    background: url('../images/star_empty.png') no-repeat;
    float:      left;
    height:     17px;
    padding:    2px;
    width:      18px;
    width: 15px;
	background-size: 13px 13px;
}
.ratings_vote {
    background: url('../images/star_full.png') no-repeat;
    background-size: 13px 13px;
}
.ratings_over {
    background: url('../images/star_highlight.png') no-repeat;
    background-size: 13px 13px;
}
.total_votes {
    background: #eaeaea;
    top: 58px;
    left: 0;
    padding: 5px;
    position:   absolute;  
}

/*ends:star-rating*/

.slider .slider-horizontal{
	width: 210px !important;
}




.navbar-default{
	background-color: #fff;
}

.navbar{
	border:none;
}


.header-top{
	background-color: #ed6f58;
	min-height:10px;
}

.header-main{
	background-color: #fff;
	padding: 20px 0px;
	box-shadow: 0px 1px 6px #888888;
}
.inn-nav{

}

.inn-nav ul{
	padding-left:10px;
	padding-top: 10px
}
.inn-nav ul li{
	font-family:'brandon-grotesque',Helvetica, Arial, sans-serif; 
	display:inline;
	margin-left: 30px;

}
.inn-nav a{
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 4px;
	text-transform: uppercase;
	color:#444135 !important;
	padding:0 !important;

}
.inn-nav a:hover{
	text-decoration:none;
	color:#ed6f58 !important;
	/*border-top:2px solid #444135 !important;*/
}

.navbar-brand{
	padding: 0px;
}

.navbar{
	margin-bottom: 0px;
}


.main-search-wrap{
	background-color: #ed6f58;
	padding: 20px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}



.search-btn{
	margin-top: 31px;
}

.search-head h1{
	margin: 0 !important;
	color: #444153;
	padding: 15px 0px;
	font-size: 26px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0px;
	border-bottom: 1px solid #525252;
}

.datepicker{
	background-image:url("../images/calender.png");
	background-size: 25px auto;
	background-repeat: no-repeat;
	background-position: right 5px bottom 4px;
	cursor: pointer;
}


.breadcrumb li a{
	color:#ed6f58;
}

.result{
	background-color: #fff;
	padding-top: 15px;
}

.hotel-place h1{
	font-size: 22px;
	color: #444135;
}

.result-details span{
	color: #444135;
	font-size: 15px;
	font-weight: bold;
}

.hotel-search-title h1{
	font-size: 15px;
	font-weight: bold;
	margin: 0px;
	padding: 5px 0px;
}

.hotel-search-title h1 a{
	color: #ed6f58;
}


.short-desc{
	color: #777777;
}

.short-desc a{
	color:#ed6f58;
}

.search-review span{
	font-size: 20px;
	color: #444153;
}

.price-range span{
	font-size: 17px;
	color:#ed6f58;
	font-weight: bold;
}

.price-range p{
	font-size: 17px;
	/*color:#ed6f58;*/
	font-weight: bold;
}

.inn-button{
	font-size: 13px;
	text-transform: uppercase;
	font-weight: bold;
	background-color: #444135;
	color: #ed6f58;
	border: none;
}

.inn-button:hover,
.inn-button:focus{
	color: #ed6f58;
	background-color: #1D1D1B;
	border: none;
}


.hor-form-btn{
	margin-top: 23px;
	margin-left: 15px;
}

.overview-wrap{
	background-color: #f8f8f8;
	border: 1px solid #c7c7c7;
}



.col-padding{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
}

.col-padding-first{
	padding-left:15px;
	padding-top: 5px;
}

.col-padding-last{
	padding-right: 15px;
	padding-top: 5px;
}

.latest-review-head p,
.total-review p{
	font-size: 19px;
	color: #ed6f58;
}

.total-review span{
	font-size: 20px;
	font-weight: bold;
}

.rating-cat p{
	float: right;
	color:#939699;
}

.rating-cat{
	color: #ed6f58;
	font-weight: bold;
	font-size: 13px;
}

.one-review a{
	color: #ed6f58;
}

.one-review p{
	font-size: 14px;
	color:#939699;
}

.facility,
.rate-review{
	margin-bottom: 15px;
}

.room-display-head{
	font-size: 16px;
	color: #ed6f58;
}

.room-display-head p{
	font-size: 11px;
	color:#939699;
}

.table-wrap{
	border: 2px solid #c7c7c7;
	padding:10px;
}

.room-type{
	color: #0c5c88;
	font-size: 16px;
	cursor: pointer;
}

.room-type-desc{
	font-size: 11px;
}

.room-row-wrap{
	border-top: 2px solid #c7c7c7;
	padding-top: 10px;
}
.room-row-wrap p{
	padding-left: 20px;
}

.room-display{
	padding: 11px;
	background-color: #ed6f58;
	text-align: center;
	color: #fff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-bottom: 20px;
	font-weight: bold;
	cursor: pointer;
	height: 40px;
}

.room-display p{
	font-size: 11px;
	margin:0px;
	padding: 0px;
}

.room-display-price{
	font-size: 14px;
	color: #0c5c88;
	font-weight: bold;
}

.room-display-price span{
	font-size: 12px;
}

#color-change{
	padding: 7px;
}

.cus-details{
	border: 2px solid #c7c7c7;
}

.colored-head{
	/*background-color: #ed6f58;*/
	border-bottom: 2px solid #c7c7c7;
}

.colored-head h1{
	color:#2687BD;
	margin:0px;
	padding: 10px;
	border: none;
}

.detail-content{
	padding: 10px;
}


.form-footer{
	border-top: 1px solid #c7c7c7;
}

.warning span{
	padding: 5px 20px;
	border: 1px solid #ed6f58;
	border-radius: 5px;
	background-color: #F5CFC8;
	color: #ed6f58;
}

.hotel-name h1{
	color: #444135;
	font-size: 15px;
	border: none;
	margin:0;
}

.hotel-name a{
	color:#444135;
	text-decoration: none;
}

.room-table-content{
	color: #0c5c88;
	font-size: 14px;
}

.booking-totals{
	text-align: right;
	border-top: 1px solid #c7c7c7;
}

.booking-totals span{
	color: #ed6f58;
	font-size: 14px;
	font-weight: bold;
}


.error-desc-content{
	min-height:100px;
}

.thank-you-content span{
	color: #ed5c68;
	font-size: 13px;
	font-weight: bold;
}

.rate-and-review{
	background-color: #fcfcfc;
	border: 2px solid #c7c7c7;
	border-radius: 10px;
	padding: 10px;
}

.rating-percentage{
	padding-left: 15px;
	color: #ed6f58;
	font-size: 60px;
	border-right: 2px dashed #c7c7c7;
}

.rating-percentage span{
	color:#444135;
}

.rating-percentage p{
	font-size: 15px;
	margin: 0px;
	margin-top: -15px;
}

.rating-percentage h2{
	margin-bottom: -12px;
}

.rate-list{
	padding: 6px 25px;
}

.rate-list span{
	float:right;
	font-weight: bold;
}

.reviews-head{
	color: #ed6f58;
}

.sort-reviews{
	border-bottom: 1px solid #c7c7c7;
	padding:0 0 10px 0;
}

.review-row{
	background-color: #fcfcfc;
	border: 2px solid #EEEEEE;
	border-radius: 10px;
	padding: 10px;
	margin-bottom: 10px;
}

.user-desc{
	font-size: 12px;
	border-right: 1px dashed #c7c7c7;
}

.user-desc h3{
	color: #ed5c63;
	margin:0;
}

.user-desc span{
	color: #444135;
	font-size: 25px;
	padding: 5px;
}

.review-text{
	border-bottom:1px dashed #c7c7c7;
	padding-bottom: 10px;
}

.review-footer span{
	font-style: italic;
}

.rate-stars{
	float: right;
}

.modal-header{
	border-bottom:1px solid #ed5c63;
}

.modal-header h1{
	border:none;
}

.modal-footer{
	border-top:1px solid #ed5c63;
}

.form-info{
	color: #ed6f58;
}

.contact-details{
	/*text-align: right;*/
	font-size: 16px;
	color: #6F6F6F;
	font-weight: bold;
}

.button-right{
	float: right;
}


.filter-content{
	border: 2px solid #c7c7c7;
	padding: 10px;
	background-color: #F5F5F5;
	color: #444135;
}

.filter-content label{
	padding: 0px;
}

.filter-search input{
	background-image: none;
}


.filter-form-row{
	padding: 10px 0;
}

/*.filter-option>.values{
	padding: 0 30px;
}*/

.filter-sort{
  padding-bottom:20px;
}

.filter-sort span{
  opacity:0.6;
}

.filter-option{
  border-bottom: 1px solid rgb(189, 189, 189);
}

.filter-option .title{
  font-size:13px;
  padding: 15px 0 10px 10px;
  text-transform: uppercase;
}

.filter-option .values{
  padding-left: 25px;
  
}
.filter-option label{
  font-size: 14px !important;
  padding: 0px;
  font-weight: normal;
  text-transform: none;
}

.value span{
	padding: 0 0 0 5px;
}

.toggleLink {
color: #999999;
font-size: 12px;
text-decoration: none;
display: block;
float: right;
/*margin-right: 2%;*/
margin-top:-30px;
}

.toggleLink:hover {
color: #77BACE;
text-decoration: none;
}

.home-info-containers{
	background-color:none;
	border: 2px solid #fff;
	min-height: 400px;
	color: #444135;
	padding: 0 20px;
}

.home-info-containers:hover{
	background-color: #fff;
}

.home-info-content{
	padding: 20px 0;
	font-size: 14px;
}

.footer-main{
	/*min-height: 100px;*/
	box-shadow: 0px 1px 9px #888888;
}

.footer-sec{
	min-height: 20px;
	padding: 0 0 15px 0;
	background-color: #ed6f58;
	color:#444135;
}

.footer-sec ul{
	margin: 0px;
}

.footer-sec ul li{
	display: inline;
	/*padding:0 10px*/
}

.footer-sec ul li:not(:last-child):after{
	content: ".";
	font-size: 30px;
	color:#6b6b6b;
	padding: 5px;
}


.footer-sec ul li a{
	text-transform: none;
	color:#444135;
}

.footer-sec ul li a:hover{
	/*color: #858585 !important;*/
	/*text-decoration: none;*/
}